{% macro activityCollection(activity) %}
	<div class="row">
		<div class="form-group">
	    	{{ form_widget(activity.activity, {'attr': {'class': 'form-control input-activity'}}) }}
	    </div>
	    <div class="form-group">
	    	{{ form_widget(activity.regularHours, {'attr': {'class': 'form-control input-regular-hours'}}) }}
	    </div>
	    <div class="form-group">
	        {{ form_widget(activity.otHours, {'attr': {'class': 'form-control input-overtime'}}) }}
	    </div>
	    <div class="form-group" data-toggle="tooltip" title="Remove activity">
	      <a href=# id="rmv" class="text-danger" data-target="activities-prototype">
	        <i class="glyphicon glyphicon-remove"></i>
	      </a>
	    </div>   
	    {{ form_widget(activity) }}
	</div>
{% endmacro %}

	{{ form_start(form, {'attr': {'class': 'form-inline ajaxForm', 'id' : 'ajaxForm'}}) }}

  	<div class="col-md-12 hide">
    	<div id="errors" class="alert alert-danger">
      		{{ form_errors(form) }}
    	</div>
	</div>

    <div class="row">
    	<div class="col-md-12">
    		<strong>Edition requested by </strong>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
	    	<div class="form-group">
	    		{{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
	    		<br>
	    	</div>
	    </div>
    </div>
    
    <div class="row">
    	<div class="col-md-5">
    		<strong>Employee</strong>
    	</div>
    	<div class="col-md-4">
    		<div><strong>Activities Hours</strong></div>
    	</div>
    	<div class="col-md-3">
    		<strong>Options</strong>
    	</div>
    </div>
    <div id="entry-details" class="row">
    	<div class="col-md-5">
    		<div class="form-group">
    		   	{{ form_widget(form.employee, {'attr': {'class': 'form-control input-employee'}}) }}
			</div>
			<div class="form-group">
			    	{{ form_widget(form.sesa, {'attr': {'class': 'form-control input-sesa'}}) }}
			</div>
		    <div id="presence" class="form-group">
		    	<div class="form-group" data-toggle="tooltip" title="Presence"> 
		        	{{ form_widget(form.present, {'attr': {'class': 'input-present '}}) }}
		        </div>
		        <div class="hide toggling form-group">
		          {{ form_widget(form.absence_reason, {'attr': {'class': 'form-control input-reason'}}) }}
		        </div>
		    </div>
    	</div>

    	<div id="activities-prototype" class="col-md-4"
	        data-prototype="{{ _self.activityCollection(form.editorActivities.vars.prototype)|e }}">
	          {% for activity in form.editorActivities %}
	            {{ _self.activityCollection(activity) }}
	          {% endfor %}
	    </div>

	    <div class="col-md-3">
	    	<div class="form-group">
	    		<div class="btn-group">
		    		<a href=# id="add" class="btn btn-success" data-target="activities-prototype" data-toggle="tooltip" title="Add an activity"><i class="glyphicon glyphicon-plus"></i></a>
      				<a href=# id="comment" class="btn btn-primary" data-toggle="tooltip" title="Add a comment"><i class="glyphicon glyphicon-comment"></i></a>
      			</div>
      			<div class="hide toggling txtarea-sm">
			    	{{ form_widget(form.comments, {'attr': {'class': 'form-control'}}) }}
			    </div>  

	    	</div>
		</div>  
    </div>	   

  {{ form_widget(form) }}    
  {{ form_rest(form) }}
  {{ form_end(form) }}