{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Daily Productivity - {{ parent() }}{% endblock %}

{% block sereport_body %}
  <header class="h-input">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-stats"> </i> Daily Productivity report</h2>
    </div>
  </header>

  <div class="row">
    <div id="filters">
      <div class="month pull-left">
        <form name="test" class="form-inline"> 
          <div class="form-group">
            <input type="date" class="form-control date-filter" id="dailyDate" value="{{ 'now'|date_modify("-1 day")|date('Y-m-d') }}" name="date">
          </div>
        </form>
      </div>
      <div id="1" class="teams pull-left">
        <a id="0" class="label label-primary">HubAsia</a>
        <a id="1" class="label label-default">Outbound4</a>
        <a id="2" class="label label-default">Inbound4</a>
        <a id="4" class="label label-default">Outbound3</a>
        <a id="5" class="label label-default">Inbound3</a>
        <a id="6" class="label label-default">Releasing</a>
        <a id="8" class="label label-default">Adaptation</a>
        <a id="9" class="label label-default">Taskforce</a>
      </div>
      <div id="2" class="shifts hide">
        | 
        <a id="0" class="label label-primary">All</a>
        <a id="1" class="label label-default">Shift1</a>
        <a id="2" class="label label-default">Shift2</a>
        <a id="3" class="label label-default">Shift3</a>
      </div>
    </div>
  </div>

  <div id="data-panel" class="row">
    <div class="col-md-3">
        <div id="container-prod" style="height: 300px; margin:auto auto;"></div>
    </div>
    <div id="report-panel" class="col-md-5">
       <div class="panel panel-default" style="height: 300px; margin:auto auto;">
        <div class="panel-heading">
          <h4>Daily report</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Transfer order lines</strong></td>
                  <td class="text-right divider"><span id="to"></span></td>
                  <td><strong>Manual TO Lines</strong></td>
                  <td class="text-right"><span id="mto"></span></td>
                </tr>
                <tr>
                  <td><strong>Included Manhours</strong></td>
                  <td class="text-right divider"><span id="wh"></span></td>
                  <td><strong>Training hours</strong></td>
                  <td class="text-right"><span id="tr"></span></td>
                </tr>
                <tr>
                  <td><strong>Manhours</strong></td>
                  <td class="text-right divider"><span id="ma"></span></td>
                  <td><strong>Absent employees</strong></td>
                  <td class="text-right"><span id="ab"></span></td>
                </tr>
                <tr>
                  <td><strong>Logistic Efficiency</strong></td>
                  <td class="text-right divider"><span id="le"></span> %</td>
                </tr>
                <tr>
                  <td><strong>Headcount</strong></td>
                  <td class="text-right divider"><span id="hc"></span></td>
                </tr>
                <tr>
                  <td><strong>Overtime hours</strong></td>
                  <td class="text-right divider"><span id="ot"></span></td>
                </tr>           
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" style="height: 300px; margin:auto auto;">
        <div class="panel-heading">
          <h4>Manhours inputs</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="inputs" class="table table-hover table-striped display">
              <thead>
                <tr>
                  <th>Team</th>
                  <th>Shift</th>
                  <th>Hours</th>
                  <th>TO Lines</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody id="inject-inputs">
                             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
     <div class="col-md-12">
      <div id="container-activities" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    var ajaxDaily = '{{path('se_report_day')}}';
  </script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
  {% javascripts '@SEReportBundle/Resources/public/js/daily/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}