{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Monthly Productivity - {{ parent() }}{% endblock %}

{% block sereport_header %}
  <header class="h-sap">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-stats"> </i> Monthly Productivity report</h2>
    </div>
  </header>

  <div class="row filters-row">
    <div id="filters">
      <div class="month pull-left date-filter">
        <form name="test" class="form-inline">
          <div class="form-group">
            <input type="text" id="monthpicker" class="pull-left">
          </div>
        </form>
      </div>
      <div id="1" class="teams pull-left">
        <a id="0" data-max-shift="1" class="label label-primary">HubAsia</a>
        {% for d in dp %}
            <a id="{{d.masterId}}" data-max-shift="{{d.maxShiftNb}}" class="label label-default">{{d.name}}</a>
        {% endfor %}
      </div>
      <div id="2" class="shifts hide">
        | 
        <a id="0" class="label label-primary">All</a>
        <a id="1" class="label label-default">Shift1</a>
        <a id="2" class="label label-default">Shift2</a>
        <a id="3" class="label label-default">Shift3</a>
      </div>
    </div>
  </div>

{% endblock %}


{% block sereport_body %}

  <div id="data-panel" class="row">
    <div class="col-md-7">
        <div id="container-prod" style="height: 300px; margin:auto auto;"></div>
    </div>
    <div id="report-panel" class="col-md-5">
       <div class="panel panel-default" style="height: 300px; margin:auto auto;">
        <div class="panel-heading">
          <a class="pull-right text-muted" data-toggle="modal" data-target="#infoModal">
            <h4><i class="glyphicon glyphicon-info-sign"></i></h4>
          </a>
          <h4>Monthly report</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Transfer order lines</strong></td>
                  <td class="text-right divider"><span id="to"></span></td>
                  <td><strong>Manual TO Lines</strong></td>
                  <td class="text-right"><span id="mto"></span></td>
                </tr>
                <tr>
                  <td><strong>Included Manhours</strong></td>
                  <td class="text-right divider"><span id="wh"></span></td>
                  <td><strong>Training hours</strong></td>
                  <td class="text-right"><span id="tr"></span></td>
                </tr>
                <tr>
                  <td><strong>Manhours</strong></td>
                  <td class="text-right divider"><span id="ma"></span></td>
                  <td><strong>Absent employees</strong></td>
                  <td class="text-right"><span id="ab"></span></td>
                </tr>
                <tr>
                  <td><strong>Logistic Efficiency</strong></td>
                  <td class="text-right divider"><span id="le"></span> %</td>
                </tr>
                <tr>
                  <td><strong>Support Function KSR</strong></td>
                  <td class="text-right divider"><span id="ksr"></span> %</td>
                </tr>
                <tr>
                  <td><strong>Overtime hours</strong></td>
                  <td class="text-right divider"><span id="ot"></span></td>
                </tr>           
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div id="container-monthly" style="height: 500px; margin:auto auto;"></div>
    </div>
  </div>

  <div class="row">
     <div class="col-md-12">
      <div id="container-activities" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </div>
  {# MODAL TO DETAIL FORMULAS #}

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="infoModalLabel">More informations on the calculation...</h4>
        </div>
        <div class="modal-body">
          <h4>PRODUCTIVITY</h4>
          <p>For each team & shift, it uses the following formula : <br>
          <strong>PRODUCTIVITY = TRANSFER ORDER LINES / MANHOURS INCLUDED</strong><br><br>
          The TO lines are recorded upon the SESA of each pickers (Outbound) and binners (Inbound). They are consolidated.<br>
          The manhours included in the productivity are : Picking, Putaway, Weight Control, Overpacking, Receiving, Support and Customer Service.<br></p>
          <h4>TARGET</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Departement</th>
                  <th>50%</th>
                  <th>75%</th>
                  <th>100%</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Outbound</td>
                  <td>7.5</td>
                  <td>8.5</td>
                  <td>9.5</td>
                </tr>
                <tr>
                  <td>Inbound</td>
                  <td>5.5</td>
                  <td>6.5</td>
                  <td>7.5</td>
                </tr>      
              </tbody>
            </table>
          </div>
        <h4>EFFICIENCY</h4>
        <p>The KE (efficiency coef) represents the efficiency between the designed and actual time for the activities.<br>
        <strong>KE = TRANSFER ORDER LINES / ( DESIGN TIME PRODUCTIVITY * MANHOURS INCLUDED FOR THE ACTIVITY)</strong><br><br>
        The KSR (Support Function Coefficient) represents the rate between the Operation Time Reference (added-value activities) and the Time Spent Reference (including Support activities)<br>
        <strong>KSR = OPERATION TIME REFERENCE / TIME SPENT REFERENCE</strong><br><br>  
        The LE (Logistic Efficiency) is based on the total hours for the team/shift and compare it to the Useful Time. It gives assets on how much time is potentially wasted (non added-value).<br>
        <strong>LE = PRODUCTIVITY * USEFUL TIME</strong><br>
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel">
    <div class="modal-dialog load-icon" role="document">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    var ajaxMonthly = '{{path('se_report_monthly')}}';
  </script>

  {% javascripts '@SEReportBundle/Resources/public/js/monthly/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}