{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Productivity - {{ parent() }}{% endblock %}

{% block sereport_body %}
  <header class="h-sap">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-stats"> </i> Productivity report</h2>
    </div>
    <div id="filters">
      <div class="pull-left">
        <a id="" class="label label-primary">HubAsia</a>
        <a id="Outbound4" class="label label-default">Outbound4</a>
        <a id="Inbound4" class="label label-default">Inbound4</a>
        <a id="Local" class="label label-default">Local</a>
        <a id="Outbound3" class="label label-default">Outbound3</a>
        <a id="Inbound3" class="label label-default">Inbound3</a>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-12">
      <h4>YESTERDAY : {{ yesterday|date('F d Y') }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
        <div id="container-prod" style="height: 400px; margin:auto auto;"></div>
    </div>
    <div class="col-md-4 col-md-offset-1">
       <div class="panel panel-default">
        <div class="panel-heading">
          <div id="filters">
            <div>
              <a id="" class="label label-primary">All</a>
              <a id="Shift1" class="label label-default">Shift1</a>
              <a id="Shift2" class="label label-default">Shift2</a>
              <a id="Shift3" class="label label-default">Shift3</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <h4>Transfer order lines : 
            {% if yesterdayInput is not null %}
              {{ yesterdayInput.totalToInput }}
            {% else %}
              0 <i class="glyphicon glyphicon-alert text-danger"> </i>
            {% endif %}
          </h4>
          <h4>Manhours : 
            {% if yesterdayInput is not null %}
              {{ yesterdayInput.totalHoursInput }}
            {% else %}
              0 <i class="glyphicon glyphicon-alert text-danger"> </i>
            {% endif %}
          </h4>
          <h4>Headcount :
            {% if yesterdayInput is not null %}
              {{ yesterdayInput.inputEntries|length }}
            {% else %}
              0 <i class="glyphicon glyphicon-alert text-danger"> </i>
            {% endif %}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>MONTHLY</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
        <div id="container-daily" style="height: 500px; margin:auto auto;"></div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
          <ul>
            <li>Total Transfer order lines : #0000</li>
            <li>Total Manhours : #0000</li>
            <li>Total Headcount : #0000</li>
            <li>Total Training : #0000</li>
          </ul>
        </div>
    </div>
  </div>

  <div class="col-md-3 well">
    sap  to process<br>
  	{% for sap in sapToProcess %}
  		{{ sap.date|date("m/d/Y") }}  - {{ sap.inputs }} - {{ sap.process }}
  		<br>
    {% endfor %}
  </div>	

  <div class="col-md-3 well">
    inputs to process <br>
  	{% for input in inputToProcess %}
  		{{ input.dateInput|date("m/d/Y") }}  - {{ input.team.name }} - {{ input.shift.identifier }}
  		<br>
    {% endfor %}
  </div>	

   <div class="col-md-3 well">
    missing TO
  	{{ missingTO }}<br>
    {% for to in toto %}
      {{ to }}
      <br>
    {% endfor %}
  </div>

  <div class="col-md-3 well">
  {{ lala }}
    {% for lol in lolo %}
      {{ lol.dateConfirmation|date("m/d/Y") }}
      <br>
    {% endfor %}
  
  </div>

<div class="col-md-12">
</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    var globalYesterdayProd = {% if yesterdayInput is not null %}{{ yesterdayInput.totalProdInput }}{% else %}0{% endif %};
    {% autoescape false %}
      var jsonCategories = {{ jsonCategories }};
      var jsonHub = {{ jsonHub }};
      var jsonOut4 = {{ jsonOut4 }};
      var jsonOut3 = {{ jsonOut3 }};
      var jsonIn4 = {{ jsonIn4 }};
      var jsonIn3 = {{ jsonIn3 }};
    {% endautoescape %}
  </script>
{% endblock %}