{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Productivity - {{ parent() }}{% endblock %}

{% block sereport_body %}
  <header class="h-sap">
    <div class="line"></div>
    <h2><i class="glyphicon glyphicon-stats"> </i> Productivity report</h2>
  </header>

  <div class="col-md-3 well">
    sap  to process<br>
  	{% for sap in sapToProcess %}
  		{{ sap.date|date("m/d/Y") }}  - {{ sap.inputs }} - {{ sap.process }}
  		<br>
    {% endfor %}
  </div>	

  <div class="col-md-3 well">
    inputs to process <br>
  	{% for input in inputToProcess %}
  		{{ input.dateInput|date("m/d/Y") }}  - {{ input.team.name }} - {{ input.shift.identifier }}
  		<br>
    {% endfor %}
  </div>	

   <div class="col-md-3 well">
    missing TO<br>
  	{{ missingTO }}<br>
    {% for to in toto %}
      {{ to }}
      <br>
    {% endfor %}
  </div>

  <div class="col-md-3 well">
  {{ lala }}
    {% for lol in lolo %}
      {{ lol.dateConfirmation|date("m/d/Y") }}
      <br>
    {% endfor %}
  
  </div>

<div class="col-md-12">
</div>

{% endblock %}