{% extends "::layout.html.twig" %}

{% block title %}
  Reports - {{ parent() }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 'bundles/sereport/css/*' %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block menu %}
	{{ render(controller("SEReportBundle:Productivity:menu")) }}
{% endblock %}

{% block logo %}
  <li class="logo-zest"><img alt="Zest" src="{{ asset('bundles/sereport/images/zest.png') }}"></li>
{% endblock %}

{% block body %}

  {% block sereport_body %}
  {% endblock %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/solid-gauge.js"></script>

{% endblock %}