{% extends "SEInputBundle:Entry:input.html.twig" %}

{% macro entryCollection(entry) %}
  <tr>
    <td>#</td>
    <td class="table-size">
      <div class="float-left input-employee">
        {{ form_widget(entry.employee, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="float-left input-sesa">
        {{ form_widget(entry.sesa, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div id="presence">
        {{ form_widget(entry.present) }}
        {{ form_widget(entry.absence_reason, {'attr': {'class': 'form-control hide toggling'}}) }}
      </div>
    </td>
    <td id="activities">
      <div 
        id="activities-prototype"
        data-prototype="{{ _self.activityCollection(entry.activity_hours.vars.prototype) | e }}">
          {% for activity in entry.activity_hours %}
            {{ _self.activityCollection(activity) }}
          {% endfor %}
      </div>
    </td>
    <td class="table-size">
      <a href=# id="comment" class="btn btn-primary">
        <i class="glyphicon glyphicon-comment"></i>
      </a>
      <a href=# id="rmv" class="btn btn-danger" data-target="entries-prototype">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
      <a href=# id="info" class="btn btn-info">
        <i class="glyphicon glyphicon-info-sign"></i>
      </a>
      <a href=# id="add" class="btn btn-success" data-target="activities-prototype">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
      <div class="hide toggling txtarea-sm">
        {{ form_widget(entry.comments, {'attr': {'class': 'form-control'}}) }}
      </div>  
    </td>
    {{ form_widget(entry) }}
  </tr>
{% endmacro %}

{% macro activityCollection(activity) %}
  <div class="row">
    <div class="col-md-3">{{ form_widget(activity.activity, {'attr': {'class': 'form-control'}}) }} </div>
    <div class="col-md-4">
      <div class="float-left col-xs-6">
        {{ form_widget(activity.regularHours, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="input-group float-left col-xs-6" 
           data-toggle="popover" 
           data-trigger="click" 
           title="OT Hou se fsefe fsef se fse se sese esrs" 
           data-content="lalalssssssasasaxac ef sef ef af aefafa  faa">
        {{ form_widget(activity.otHours, {'attr': {'class': 'form-control'}}) }}
        <span class="input-group-addon">
          <span id="overtime" class="glyphicon glyphicon-time">
          </span>
        </span>
      </div>
      <div class='float-left'>
          {{ form_widget(activity.otStartTime) }}
          {{ form_widget(activity.otEndTime) }}
      </div>
    </div>
    <div class="float-left">
      <input class="transfer" type="checkbox" value="0">
    </div>
    <div class="float-left">
      {{ form_widget(activity.zone, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div>
      <a href=# id="rmv" class="btn btn-danger" data-target="activities-prototype">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>   
    {{ form_widget(activity) }}
  </div>
  {% endmacro %}

 {% block seinput_form %}

  <div class="well">
   {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

     <div class="form-group">
        {{ form_label(form.user, "User", {'label_attr': {'class': 'col-md-1 control-label'}}) }}
        {{ form_errors(form.user) }}
        <div class="col-md-4">
          {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-2 pull-right">
          <a href=# id="add" class="btn btn-success" data-target="entries-prototype">
            <i class="glyphicon glyphicon-plus"></i> Add Employee
          </a>
        </div> 
    </div>
    
    <div class="form-group">
     
     <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th class="table-size">Employee</th>
              <th>
                <div class="col-md-4">Activity</div>
                <div class="col-md-3">Hours</div>
                <div class="col-md-2">TransferOut</div>
                <div class="col-md-2">Workstation</div>
                <div class="col-md-1"></div>
              </th>
              <th class="table-size">Comments</th>
            </tr>
          </thead>
          <tbody id="entries">
            <div 
            id="entries-prototype"
            data-prototype="{{ _self.entryCollection(form.input_entries.vars.prototype)|e }}">
              {% for entry in form.input_entries %}
                {{ _self.entryCollection(entry) }}
              {% endfor %}
            </div>
          </tbody>
        </table>
      </div>
    </div>
 
    <div class="form-group">
      {{ form_widget(form.save, {'attr': {'class': 'btn btn-success pull-right'}}) }}
    </div>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% javascripts '@SEInputBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}