{% extends "SEInputBundle:Entry:input.html.twig" %}

{% macro collection(entry) %}
  <tr>
    <td>#</td>
    <td>{{ form_widget(entry.employee) }}</td>
    <td>{{ form_widget(entry.presence) }}</td>
    <td id=#>
      <div>
        <a href=# id="add add_activity" class="btn btn-success">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div> 
{#    <div 
        id="activity-hours-prototype"
        data-prototype="{{ form_row(entry.vars.prototype.children['activity_hours'].vars.prototype) | e }}">
          {% for activityhours in entry.activity_hours %}
            {{ form_widget(activityhours.activity) }} 
            {{ form_widget(activityhours.regularHours) }}
            {{ form_widget(activityhours.otHours) }}
            {{ form_widget(activityhours.otStartTime) }}
            {{ form_widget(activityhours.otStartTime) }}
            {{ form_widget(activityhours.otEndTime) }}
            {{ form_widget(activityhours.team) }}
            {{ form_widget(activityhours.shift) }}
            {{ form_widget(activityhours.zone) }}
            {{ form_widget(activityhours.workstation) }}
            {{ form_widget(activityhours) }}
            <a href=# id="rmv rmv_activity" class="btn btn-danger">
              <i class="glyphicon glyphicon-trash"></i>
            </a>   
          {% endfor %}
      </div>
#}    </td>
    <td>{{ form_widget(entry.comments) }}</td>
    <td>
      <a href=# id="rmv rmv_entry" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </td>
    {{ form_widget(entry) }}
  </tr>
{% endmacro %}

 {% block seinput_form %}

  <div class="well">
   {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

     <div class="form-group">
        {{ form_label(form.user, "User", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.user) }}
        <div class="col-sm-4">
          {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="form-group">
     
     <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Employee</th>
              <th>Presence</th>
              <th>Activity Hours</th>
              <th>Comments</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <div 
            id="entries-prototype"
            data-prototype="{{ _self.collection(form.input_entries.vars.prototype)|e }}">
                         {#"{{ form_row(form.input_entries.vars.prototype) | e }}">#} 
              {% for entry in form.input_entries %}
                {{ _self.collection(entry) }}
              {% endfor %}
            </div>
          </tbody>
        </table>
      </div>
      <p>
        <a href=# id="add" class="btn btn-success" data-target="entries-prototype">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </p> 
    </div>
 
    <div class="form-group">
      {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    </div>
    
    {{ form_widget(form._token) }}
    {{ form_end(form) }}
  </div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% javascripts '@SEInputBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}