<nav class="gn-menu-wrapper">
    <div class="gn-scroller">
		<ul class="gn-menu">
			<li class="gn-search-item">
			 	<input placeholder="Search" type="search" class="gn-search">
			  	<a class="gn-icon glyphicon glyphicon-search"><span>Search</span></a>
			</li>
			<li>
				<span class="indicator dashboard"></span>
				<a href="{{ path('se_input_review') }}" class="gn-icon glyphicon glyphicon-dashboard">Dashboard</a>
			</li>
			<li>
				<span class="indicator manhours"></span>
				<a href="{{ path('se_input_home') }}" class="gn-icon glyphicon glyphicon-pencil">Manhours Input</a>
			</li>
			<li>
				<span class="indicator sap"></span>
				<a href="{{ path('se_input_set_import') }}" class="gn-icon glyphicon glyphicon-cloud">SAP imports</a>
			</li>
			<li>
				<span class="indicator weight"></span>
				<a class="gn-icon glyphicon glyphicon-scale">Weight control imports</a>
			</li>
			<li>
				<span class="indicator employee"></span>
				<a href="{{ path('se_input_employees') }}" class="gn-icon glyphicon glyphicon-user">Employees</a>
			</li>
			<li>
				<span class="indicator activity"></span>
				<a href="{{ path('se_input_activities') }}"class="gn-icon glyphicon glyphicon-briefcase">Activities</a>
			</li>
		</ul>
	</div><!-- /gn-scroller -->
</nav>