{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}Review - {{ parent() }}{% endblock %}

{% block seinput_body %}
  <header class="h-review">
    <div class="line"></div>
    <h2><i class="glyphicon glyphicon-dashboard"> </i> Inputs dashboard</h2>
  </header>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
          <i class="glyphicon glyphicon-alert"> </i> {{ importErrors|length + inputErrors|length + toErrors|length +  hourErrors|length }} errors to review!
          </h4>
        </div>
        <div class="panel-body" id="container" style="height:287px;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Some Manhours inputs are missing in the database.</h4></div>
        <div class="panel-body">
          <p>Please find the according team and date, and add a new input in the appropriate section. If the issue is validated as is, the productivity for this team will be counted as 0.</p>  

          <div class="table-responsive">
            <table id="errors" class="table table-hover table-striped display">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Team</th>
                  <th>Shift</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for error in inputErrors %}
                  <tr>
                    <td>{{ error.date|date('d-m-Y') }}</td>
                    <td>{% if error.team is not null %}
                          {{ error.team.name }} 
                        {% endif %}
                    </td>
                    <td>{% if error.shift is not null %}
                          {{ error.shift.identifier }} 
                        {% endif %}
                    </td>
                    <td><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Create this missing input"> </i> <i class="glyphicon glyphicon-check text-success" data-toggle="tooltip" title="Ignore this input"> </i></td>  
                  </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left col-md-2" style="font-weight:bold;">Input History</div>
          <div id="filters">
            <div class="pull-left" id="1">
                <a id="" class="label label-primary">All</a>
                <a id="Outbound4" class="label label-default">Outbound4</a>
                <a id="Inbound4" class="label label-default">Inbound4</a>
                <a id="Local" class="label label-default">Local</a>
                <a id="Outbound3" class="label label-default">Outbound3</a>
                <a id="Inbound3" class="label label-default">Inbound3</a>
                <a id="Releasing" class="label label-default">Releasing</a>
            </div>
            <div id="2">
              | 
                <a id="" class="label label-primary">All</a>
                <a id="1" class="label label-default">Shift 1</a>
                <a id="2" class="label label-default">Shift 2</a>
                <a id="3" class="label label-default">Shift 3</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <!-- Table -->
            <div class="table-responsive">
                <table id="table" class="table table-hover table-striped display">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Team</th>
                      <th>Shift</th>
                      <th>Manhours</th>
                      <th>HC</th>
                      <th>TO</th>
                      <th>Productivity</th>
                      <th>Errors</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for input in userInputs %}
                      <tr>
                        <td>{{ input.dateInput|date('d-m-Y') }}</td>
                        <td>{{ input.team.name }}</td>
                        <td>{{ input.shift.id }}</td>
                        <td>{{ input.totalHoursInput }}</td>
                        <td>{{ input.inputEntries|length }}</td>
                        <td>{{ input.totalToInput }}</td>
                        <td>{{ input.totalProdInput }}</td>
                        <td>{% if input.review == 0 %}
                              <i class="glyphicon glyphicon-alert text-warning" data-toggle="tooltip" title="Review errors for this input"></i>
                            {% else %}
                              <i class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" title="Nothing to review, all clear."></i>
                            {% endif %}
                        </td>
                        <td><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit input"> </i> <i class="text-danger glyphicon glyphicon-remove-circle" data-toggle="tooltip" title="Delete input (all data will be lost)"> </i> <i class="glyphicon glyphicon-check text-success" data-toggle="tooltip" title="Validate review of errors for this innput"> </i></td>  
                      </tr>
                    {% endfor %}                
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- panel to show when hover error -->
  <div class="col-md-5 hide">
  	<div class="panel panel-hour">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Missing hours</div>
  	  <div class="panel-body">
  	    <p>Some TO lines weren't included into the productivity because the employee hours don't match.</p>
  	    <p>Please find the inputs that cause such errors in the following table, and correct the data in the edit section of manhours input (requires validation from a manager). If the issue is validated as is, the unincluded TO lines will be lost.</p>  
  	  </div>
  	</div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    //global variable containing details of all errors
    var importErrors = {{ importErrors|length }};
    var inputErrors = {{ inputErrors|length }};
    var toErrors = {{ toErrors|length }};
    var hourErrors = {{ hourErrors|length }};
  </script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  {% javascripts '@SEInputBundle/Resources/public/js/review/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}