{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}Review - {{ parent() }}{% endblock %}

{% block seinput_body %}
  <header class="h-review">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-dashboard"> </i> Inputs dashboard</h2>
    </div>
  </header>

  <div class="row filters-row">
    <div id="filters">
      <div class="month pull-left date-filter">
        <form name="test" class="form-inline">
          <div class="form-group">
            <input type="text" id="monthpicker" class="pull-left">
          </div>
        </form>
      </div>
      <div id="1" class="teams pull-left">
        <a id="0" data-max-shift="1" class="label label-primary">HubAsia</a>
        {% for t in tm %}
            <a id="{{t.masterId}}" data-max-shift="{{t.shiftnb}}" class="label label-default">{{t.name}}</a>
        {% endfor %}
      </div>
      <div id="2" class="shifts hide">
        | 
        <a id="0" class="label label-primary">All</a>
        <a id="1" class="label label-default">Shift1</a>
        <a id="2" class="label label-default">Shift2</a>
        <a id="3" class="label label-default">Shift3</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
          </h4>
        </div>
        <div class="panel-body" id="container" style="height:238px;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <a id="refresh" class="text-muted pull-right"><h4><i class="glyphicon glyphicon-refresh" data-toggle="tooltip" title="Resfresh missing inputs"> </i></h4></a>
        <h4>Some Manhours inputs are missing in the database.</h4></div>
        <div class="panel-body">
          <!--<p>Please find the according team and date, and add a new input in the appropriate section. If the issue is validated as is, the productivity for this team will be counted as 0.</p>-->  

          <div class="table-responsive">
            <table id="errors" class="table table-hover table-striped display">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Team</th>
                  <th>Shift</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for error in inputErrors %}
                  <tr id="{{ error.id }}">
                    <td>{{ error.date|date('d-m-Y') }}</td>
                    <td>{% if error.team is not null %}
                          {{ error.team.name }} 
                        {% endif %}
                    </td>
                    <td>{% if error.shift is not null %}
                          {{ error.shift.identifier }} 
                        {% endif %}
                    </td>
                    <td><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Create this missing input"> </i>
                        <a id="ignore" href=# data-id="{{ error.id }}"><i class="glyphicon glyphicon-check text-success" data-toggle="tooltip" title="Ignore this input"> </i></a>
                  </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Input History</h4>
        </div>
        <div class="panel-body">
          <!-- Table -->
          <div class="table-responsive">
              <table id="history" class="table table-hover table-striped display">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Team</th>
                    <th>Shift</th>
                    <th>Manhours</th>
                    <th>Included Hrs</th>
                    <th>HC</th>
                    <th>TO</th>
                    <th>Productivity</th>
{#                    <th>Errors</th>#}
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  {% for input in userInputs %}
                    <tr id="{{ input.id }}">
                      <td>{{ input.dateInput|date('d-m-Y') }}</td>
                      <td>{{ input.team.name }}</td>
                      <td>{{ input.shift.id }}</td>
                      <td>{{ input.totalHoursInput }}</td>
                      <td>{{ input.totalWorkingHoursInput }}</td>
                      <td>{{ input.totalHeadcount }}</td>
                      <td>{{ input.totalToInput }}</td>
                      <td>{{ input.totalProdInput }}</td>
{#                      <td>{% if input.review == 0 %}
                            <i class="glyphicon glyphicon-alert text-warning" data-toggle="tooltip" title="Review errors for this input"></i>
                          {% else %}
                            <i class="glyphicon glyphicon-ok text-success" data-toggle="tooltip" title="Nothing to review, all clear."></i>
                          {% endif %}
                      </td>
#}                      <td>
                          <a id="view" href="{{ path('se_input_review_details', {'id': input.id}) }}">
                            <i class="text-info glyphicon glyphicon-eye-open" data-toggle="tooltip" title="View input details"> </i>
                          </a>
                          <i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Edit input"> </i> 
                          <a id="delete" href=# data-id="{{ input.id }}">
                            <i class="text-danger glyphicon glyphicon-remove-circle" data-toggle="tooltip" title="Delete input (all data will be lost)"> </i>
                          </a>
                          <i class="glyphicon glyphicon-check text-success" data-toggle="tooltip" title="Validate review of errors for this input"> </i></td>  
                    </tr>
                  {% endfor %}                
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- panel to show when hover error -->
  <div class="col-md-5 hide">
  	<div class="panel panel-hour">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Missing hours</div>
  	  <div class="panel-body">
  	    <p>Some TO lines weren't included into the productivity because the employee hours don't match.</p>
  	    <p>Please find the inputs that cause such errors in the following table, and correct the data in the edit section of manhours input (requires validation from a manager). If the issue is validated as is, the unincluded TO lines will be lost.</p>  
  	  </div>
  	</div>
  </div>

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel">
    <div class="modal-dialog load-icon" role="document">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    var importErrors = {{ importErrors|length }};
    var inputErrors = {{ inputErrors|length }};
    var toErrors = {{ toErrors|length }};
    var hourErrors = {{ hourErrors|length }};
  
    var ajaxIgnore = '{{path('se_input_ignore')}}';
    var ajaxDelete = '{{path('se_input_delete')}}';
    var ajaxMi = '{{path('se_input_review_mi')}}';
    var ajaxDash = '{{path('se_input_review_time')}}';
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9,fc-3.1.0/datatables.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  {% javascripts '@SEInputBundle/Resources/public/js/review/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}