{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}Review - {{ parent() }}{% endblock %}

{% block seinput_body %}
  <header class="h-review">
    <div class="line"></div>
    <h2><i class="glyphicon glyphicon-dashboard"> </i> Inputs dashboard</h2>
  </header>

  <div class="col-md-12">
    <div class="panel panel-default col-md-6" id="container" style="height:300px;">
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Some Manhours inputs are missing in the database.</div>
        <div class="panel-body">
          <p>Please find the according team and date, and add a new input in the appropriate section. If the issue is validated as is, the productivity for this team will be counted as 0.</p>  

          <div class="table-responsive">
            <table id="errors" class="table table-hover table-striped display">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Team</th>
                  <th>Shift</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for error in inputErrors %}
                  <tr>
                    <td>{{ error.date|date('d-m-Y') }}</td>
                    <td></td>
                    <td></td>
                    <td>options</td>  
                  </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="filters">
    <div class="row">
      <div id="1" class="col-md-12">
        <h4>
          <a id="" class="label label-primary">All</a>
          <a id="Outbound4" class="label label-default">Outbound4</a>
          <a id="Inbound4" class="label label-default">Inbound4</a>
          <a id="Local" class="label label-default">Local</a>
          <a id="Outbound3" class="label label-default">Outbound3</a>
          <a id="Inbound3" class="label label-default">Inbound3</a>
          <a id="Releasing" class="label label-default">Releasing</a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div id="2" class="col-md-12">
        <h4>
          <a id="" class="label label-primary">All</a>
          <a id="1" class="label label-default">Shift 1</a>
          <a id="2" class="label label-default">Shift 2</a>
          <a id="3" class="label label-default">Shift 3</a>
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Table -->
      <div class="table-responsive">
          <table id="table" class="table table-hover table-striped display">
            <thead>
              <tr>
                <th>Date</th>
                <th>Team</th>
                <th>Shift</th>
                <th>Manhours</th>
                <th>HC</th>
                <th>TO</th>
                <th>Productivity</th>
                <th>Errors</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              {% for input in userInputs %}
                <tr>
                  <td>{{ input.dateInput|date('d-m-Y') }}</td>
                  <td>{{ input.team.name }}</td>
                  <td>{{ input.shift.id }}</td>
                  <td>{{ input.totalHoursInput }}</td>
                  <td>{{ input.inputEntries|length }}</td>
                  <td>{{ input.totalToInput }}</td>
                  <td>{{ input.totalProdInput }}</td>
                  <td>{% if input.review == 0 %}
                        <i class="glyphicon glyphicon-alert text-warning"></i>
                      {% else %}
                        <i class="glyphicon glyphicon-ok text-success"></i>
                      {% endif %}
                  </td>
                  <td>options</td>  
                </tr>
              {% endfor %}                
            </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- panel to show when hover error -->
  <div class="col-md-5">
  	<div class="panel panel-hour">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Missing hours</div>
  	  <div class="panel-body">
  	    <p>Some TO lines weren't included into the productivity because the employee hours don't match.</p>
  	    <p>Please find the inputs that cause such errors in the following table, and correct the data in the edit section of manhours input (requires validation from a manager). If the issue is validated as is, the unincluded TO lines will be lost.</p>  
  	  </div>
  	</div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    //global variable containing details of all employees
    var importErrors = {{ importErrors|length }};
    var inputErrors = {{ inputErrors|length }};
    var toErrors = {{ toErrors|length }};
    var hourErrors = {{ hourErrors|length }};
  </script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  {% javascripts '@SEInputBundle/Resources/public/js/review.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}