{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  Activities - {{ parent() }}
{% endblock %}

{% block seinput_body %}
	<h2>Activities</h2>
	<p>
	    <a href="{{ path('se_input_activities_add') }}"  class="btn btn-success">
	      <i class="glyphicon glyphicon-plus"></i>
	      Add a new Activity
	    </a>
	</p>

	<p> Here will be the Activities List -> table with criteria + edit in line </p>

	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Teams</th>
					<th>Zones</th>
					<th>Workstations</th>
					<th>Target (TO Lines/h)</th>
				</tr>
			</thead>
			<tbody>
				{% for activity in listActivities %}
		      		<tr>
		      			<td>{{ activity.id }}</td>
		      			<td>{{ activity.name }}</td>
		      			<td>{% if not activity.teams.empty %}
		        				{% for team in activity.teams %}
					    			{{ team.name }} 
					      		{% endfor %}
							{% endif %}
		      			</td>
		      			<td>{% if not activity.activityZones.empty %}
		        				{% for activityZones in activity.activityZones %}
					    			{{ activityZones.zone.name }} 
					      		{% endfor %}
							{% endif %}
		      			</td>
		      			<td>{% if not activity.workstations.empty %}
		        				{% for workstation in activity.workstations %}
					    			{{ workstation.name }} 
					      		{% endfor %}
							{% endif %}
		      			</td>
		      			<td>{% if activity.defaultTarget is not null %}
    							default : {{ activity.defaultTarget }}
    						{% endif %}
    						{% if not activity.activityZones.empty %}
		      					zones :
			        			{% for activityZones in activity.activityZones %}
			        				{% if activityZones.target is defined %}
        								{{ activityZones.target }}
        							{% endif %}
			        			{% endfor %}	
			        		{% endif %}
			        		{% if not activity.workstations.empty %}
			        			workstations :
			        			{% for workstation in activity.workstations %}
			        				{% if workstation.target is defined %}
        								{{ workstation.target }}
        							{% endif %}
			        			{% endfor %}	
			        		{% endif %}
		      			</td>
					</tr>
		    {% else %}
		      <tr><td> No activity recorded </td></tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>

{% endblock %}