{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  Employees - {{ parent() }}
{% endblock %}

{% block seinput_body %}
	<h2>Employees</h2>
	<p>
	    <a href="{{ path('se_input_employees_add') }}"  class="btn btn-success">
	      <i class="glyphicon glyphicon-plus"></i>
	      Add a new employee
	    </a>
	</p>

	<p> Here will be the Employees List -> table with criteria + edit in line </p>

	<ul>
    {% for employee in listEmployees %}
      <li>
        	<h4>{{ employee.name }}</h4>
        	{{ employee.sesa }}
        	<p>
	        	{% if employee.defaultTeam is not null %}
		        	Team: {{ employee.defaultTeam.name }}
				{% endif %}
				{% if employee.defaultShift is not null %}
		        	- Shift: {{ employee.defaultShift.identifier }}
				{% endif %}
				{% if employee.defaultActivity is not null %}
		        	- Activity: {{ employee.defaultActivity.name }}
				{% endif %}
			</p>
      </li>
    {% else %}
      <li> No employee recorded </li>
    {% endfor %}
  </ul>

{% endblock %}