{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  Employees - {{ parent() }}
{% endblock %}

{% block seinput_body %}
	<h2>Employees</h2>
	<p>
	    <a href="{{ path('se_input_employees_add') }}"  class="btn btn-success">
	      <i class="glyphicon glyphicon-plus"></i>
	      Add a new employee
	    </a>
	</p>

	<p> Here will be the Employees List -> table with criteria + edit in line </p>

	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>SESA</th>
					<th>Team</th>
					<th>Shift</th>
					<th>Main Activity</th>
					<th>Main Zone</th>
					<th>Main Workstation</th>
					<th>Job</th>
					<th>Remarks</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in listEmployees %}
		      		<tr>
		      			<td>{{ employee.id }}</td>
		      			<td>{{ employee.name }}</td>
		      			<td>{{ employee.sesa }}</td>
		      			<td>{% if employee.defaultTeam is not null %}
		      					{{ employee.defaultTeam.name }}
							{% endif %}
						</td>
						<td>{% if employee.defaultShift is not null %}
				        		{{ employee.defaultShift.identifier }}
							{% endif %}
						</td>
						<td>{% if employee.defaultActivity is not null %}
				        		{{ employee.defaultActivity.name }}
							{% endif %}
						</td>
						<td>{% if employee.defaultZone is not null %}
				        		{{ employee.defaultZone.name }}
							{% endif %}
						</td>
						<td>{% if employee.defaultWorkstation is not null %}
				        		{{ employee.defaultWorkstation.name }}
							{% endif %}
						</td>
						<td>{% if employee.job is not null %}
				        		{{ employee.job.description }}
							{% endif %}
						</td>
						<td>{% if employee.remarks is not null %}
				        		{{ employee.remarks }}
							{% endif %}
						</td>
					</tr>
		    {% else %}
		      <tr><td> No employee recorded </td></tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>

{% endblock %}