{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Attendance - {{ parent() }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@SEReportBundle/Resources/public/css/hr.css' %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,fc-3.1.0/datatables.min.css"/>


  {% endstylesheets %}
{% endblock %}

{% block sereport_header %}

  <header class="h-employee">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-user"> </i> Attendance report</h2>
    </div>
  </header>

  <div class="row filters-row">
    <div id="filters">
      <div class="month pull-left date-filter">
        <form name="test" class="form-inline">
          <div class="form-group">
            <input type="text" id="monthpicker" class="pull-left">
          </div>
        </form>
      </div>
      <div id="1" class="teams pull-left">
        <a id="0" data-max-shift="1" class="label label-primary">HubAsia</a>
        {% for t in tm %}
            <a id="{{t.masterId}}" data-max-shift="{{t.shiftnb}}" class="label label-default">{{t.name}}</a>
        {% endfor %}
      </div>
      <div id="2" class="shifts hide">
        | 
        <a id="0" class="label label-primary">All</a>
        <a id="1" class="label label-default">Shift1</a>
        <a id="2" class="label label-default">Shift2</a>
        <a id="3" class="label label-default">Shift3</a>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block sereport_body %}

  <div class="row">
    <div id="summary-panel" class="col-md-3">
      <div class="panel panel-default" style="margin:auto auto;">
        <div class="panel-heading">
          <h4>Monthly Attendance</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Monthly Attendance rate</strong></td>
                  <td class="text-right"><strong><span id="mar"></span> %</strong></td>
                </tr>
                <tr>
                  <td><strong>Total Hours</strong></td>
                  <td class="text-right"><span id="hr"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Overtime</strong></td>
                  <td class="text-right"><span id="ot"></span></td>
                </tr>
                <tr>
                  <td><strong>Weekday Overtime</strong></td>
                  <td class="text-right"><span id="otn"></span></td>
                </tr>
                <tr>
                  <td><strong>Weekend/Holidays Overtime</strong></td>
                  <td class="text-right"><span id="phot"></span></td>
                </tr>
                <tr class="orange">
                  <td><strong><i class="glyphicon glyphicon-exclamation-sign"> </i> Hours Too High</strong></td>
                  <td class="text-right"><span id="high"></span></td>
                </tr>
                <tr class="yellow">
                  <td><strong><i class="glyphicon glyphicon-exclamation-sign"> </i> Hours Too Low</strong></td>
                  <td class="text-right"><span id="low"></span></td>
                </tr>
                <tr class="marron">
                  <td><strong><i class="glyphicon glyphicon-question-sign"></i> Possibly Missing</strong></td>
                  <td class="text-right"><span id="miss"></span></td>
                </tr>
                <tr class="blue">
                  <td><strong><i class="glyphicon glyphicon-remove"></i> Leaves/Absences</strong></td>
                  <td class="text-right"><span id="leaves"></span></td>
                </tr>
{#                <tr>
                  <td><strong>Overall Headcount</strong></td>
                  <td class="text-right"><span id="hc"></span></td>
                </tr>
                <tr>
                  <td><strong># of > 12 consecutive workdays</strong></td>
                  <td class="text-right"><span id="12"></span></td>
                </tr>
                <tr>
                  <td><strong>Theoric Missing Regular Hours</strong></td>
                  <td class="text-right"><span id="mhr"></span></td>
                </tr> 
                <tr>
                  <td><strong>Theoric Missing Employee input</strong></td>
                  <td class="text-right"><span id="mhc"></span></td>
                </tr> #}        
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div id="container-attendance" style="height: 300px; margin:auto auto;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="container-top-ot" style="height: 200px; margin:auto auto;"></div>
        </div>
        <div class="col-md-6">
          <div id="container-daily-ot" style="height: 200px; margin:auto auto;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 table-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Monthly Attendance by Employee</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <!-- Table -->
            <div class="table-responsive">
              <table id="attendance" class="table table-hover table-striped display">
                <thead>
                  <tr>
                    <th>Employees</th>
                    <th>Team</th>
                    <th>Shift</th>
                    <th id="total">Total</th>
                    <th id="overtime">Overtime</th>
                  </tr>
                </thead>
                <tbody id="inject-employee"> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hide col-md-3 entry-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4><span id="e-name"></span></h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div class="det-content">
              <em><span id="e-date"></span></em>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td><strong>Total Hours</strong></td>
                      <td><strong><span id="e-tot"></span></strong></td>
                    </tr>
                    <tr>
                      <td><strong>Productivity</strong></td>
                      <td><strong><span id="e-res"></span></strong></td>
                    </tr>
                    <tr>
                      <td><strong>Regular Hours</strong></td>
                      <td><span id="e-mh"></span></td>
                    </tr>
                    <tr>
                      <td><strong>Overtime</strong></td>
                      <td><span id="e-ot"></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
                
              <div id="input-det-table" class="table-responsive">
                <table class="table table-hover table-striped display">
                  <thead>
                    <tr>
                      <th colspan="3"><a href="" target="_blank"><span id="input-det"> </span> <i class="glyphicon glyphicon-share"> </i></a></th>
                    </tr>
                  </thead>
                  <tbody id="inject-employee"> 
                  </tbody>
                </table>
              </div>
            </div>

            <div class="alert alert-danger hide" role="alert">
              <strong><i class="glyphicon glyphicon-exclamation-sign"> </i> Warning!</strong>
              There are errors in this entry. Please check and notice Lucas to update.<br>
              <span id="error-msg"></span>
            </div>
            <div class="alert alert-success hide" role="alert">
              <strong><i class="glyphicon glyphicon-ok"> </i> Alright!</strong>
              Nothing to report.
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel">
    <div class="modal-dialog load-icon" role="document">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9,fc-3.1.0/datatables.min.js"></script>
  <script type="text/javascript">
   {% autoescape false %}
      var ajaxAttendance = '{{path('se_report_attendance')}}';
      var ajaxAttDetails = '{{path('se_report_attendance_details')}}';
   {% endautoescape %}
  </script>
  {% javascripts '@SEReportBundle/Resources/public/js/hr/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}