{% extends "SEReportBundle::layout.html.twig" %}

{% block title %}Attendance - {{ parent() }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@SEReportBundle/Resources/public/css/hr.css' %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,fc-3.1.0/datatables.min.css"/>


  {% endstylesheets %}
{% endblock %}

{% block sereport_body %}
  <header class="h-employee">
    <div class="line"></div>
    <div class="pull-left">
      <h2><i class="glyphicon glyphicon-user"> </i> Attendance report</h2>
    </div>
  </header>

  <div class="row filters-row">
    <div id="filters">
      <div class="month pull-left date-filter">
        <form name="test" class="form-inline">
          <div class="form-group">
            <input type="text" id="monthpicker" class="pull-left">
          </div>
        </form>
      </div>
      <div id="1" class="teams pull-left">
        <a id="0" class="label label-primary">HubAsia</a>
        <a id="1" class="label label-default">Outbound4</a>
        <a id="2" class="label label-default">Inbound4</a>
        <a id="4" class="label label-default">Outbound3</a>
        <a id="5" class="label label-default">Inbound3</a>
        <a id="6" class="label label-default">Releasing</a>
        <a id="8" class="label label-default">Adaptation</a>
        <a id="9" class="label label-default">Taskforce</a>
        <a id="7" class="label label-default">VTeam</a>
      </div>
      <div id="2" class="shifts hide">
        | 
        <a id="0" class="label label-primary">All</a>
        <a id="1" class="label label-default">Shift1</a>
        <a id="2" class="label label-default">Shift2</a>
        <a id="3" class="label label-default">Shift3</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="summary-panel" class="col-md-3">
      <div class="panel panel-default" style="margin:auto auto;">
        <div class="panel-heading">
          <h4>Monthly Attendance</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Monthly Attendance rate</strong></td>
                  <td class="text-right"><span id="mar"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Hours</strong></td>
                  <td class="text-right"><span id="hr"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Normal Overtime</strong></td>
                  <td class="text-right"><span id="otn"></span></td>
                </tr>
                <tr>
                  <td><strong>Theoric Missing Regular Hours</strong></td>
                  <td class="text-right"><span id="mhr"></span></td>
                </tr> 
                <tr>
                  <td><strong># of > 12 consecutive workdays</strong></td>
                  <td class="text-right"><span id="12"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Headcount</strong></td>
                  <td class="text-right"><span id="hc"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Overtime</strong></td>
                  <td class="text-right"><span id="ot"></span></td>
                </tr>
                <tr>
                  <td><strong>Total Public Holidays Overtime</strong></td>
                  <td class="text-right"><span id="phot"></span></td>
                </tr>
                <tr>
                  <td><strong>Theoric Missing Employee input</strong></td>
                  <td class="text-right"><span id="mhc"></span></td>
                </tr>         
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div id="container-attendance" style="height: 200px; margin:auto auto;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="container-ot" style="height: 200px; margin:auto auto;"></div>
        </div>
        <div class="col-md-6">
          <div id="container-top-ot" style="height: 200px; margin:auto auto;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Monthly Attendance by Employee</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <!-- Table -->
            <div class="table-responsive">
              <table id="attendance" class="table table-hover table-striped display">
                <thead>
                  <tr>
                    <th>Employees</th>
                    <th>Team</th>
                    <th>Shift</th>
                    {% for day in calendar %}
                      {% if day.isHoliday == 1 %}
                        <th class="holiday">
                          {{ day.d }}/{{ day.m }}
                        </th>
                      {% elseif day.isWeekday == 0 %}
                        <th class="weekend">
                          {{ day.d }}/{{ day.m }}
                        </th>
                      {% else %}
                        <th>
                          {{ day.d }}/{{ day.m }}
                        </th>
                      {% endif %}
                    {% endfor %}
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody id="inject-employee">
                  {# for employee in employees %}
                    <tr id="{{ employee.id }}">
                      <td>{{ employee.name }} | {{ employee.sesa }}</td>
                    </tr>
                  {% endfor #}                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel">
    <div class="modal-dialog load-icon" role="document">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9,fc-3.1.0/datatables.min.js"></script>
  <script type="text/javascript">
   {% autoescape false %}
      var ajaxAttendance = '{{path('se_report_employee_attendance')}}';
   {% endautoescape %}
  </script>
  {% javascripts '@SEReportBundle/Resources/public/js/hr/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}